# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
/src/Test.java
/src/Solution.java
/src/TestDNS2.java
/python3/src/sorting/closestNumbers.py
